# The following set of rules protects the structure of the `etsy/terraform-config` repo by making
#   @etsy/vitess the owner of all files and folders in the root of this repo. Any folders that this
#   team shouldn't be an owner of will be negated by an empty CODEOWNERS rule.
# Later rule matches will take precedent over the following rule. For more information see: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @etsy/vitess
